<!-- *** Gallery Page *** -->
<div class="gallery-page-container">

    <!-- Photo Preview (PopUp)  -->
    <g-photo-preview is-visible="galleryCtrl.photoPreview.isVisible"
                     img-src="galleryCtrl.photoPreview.imgUrl"
                     is-show-left-button="galleryCtrl.photoPreview.isButtonNextVisible"
                     is-show-right-button="galleryCtrl.photoPreview.isButtonBackVisible"
                     on-click-left-button="galleryCtrl.onClick_PhotoPreviewNext()"
                     on-click-right-button="galleryCtrl.onClick_PhotoPreviewBack()" >
    </g-photo-preview>

    <!-- Sub Header -->
    <g-sub-header-menu
            items="galleryCtrl.subHeaderMenuItems"
            click-item-callback="galleryCtrl.onClick_HeaderMenuItem(headerMenuItem)">
    </g-sub-header-menu>

    <!-- Photo Gallery -->
    <g-gallery
            gallery-title="galleryCtrl.currentGallery.galleryTitle"
            gallery-items="galleryCtrl.currentGallery.images"
            click-gallery-item-callback="galleryCtrl.onClick_GalleryItem(galleryItem)">

    </g-gallery>

</div>