<!-- *** G-Photo-Preview *** -->
<div class="g-photo-preview-dark-background"
     ng-class="{ 'g-photo-preview-visible': isVisible }"
     ng-click="onClick_PhotoPreviewDarkBackground()">

    <div class="g-photo-preview-container">
        <div class="g-photo-preview">

            <img ng-src="{{ imgSrc }}"
                 ng-click="onClick_PhotoPreview(); $event.stopPropagation();"
                 class="g-photo-preview-img"/>

            <!-- Close Button -->
            <div class="g-photo-preview-close-button"
                 ng-click="onClick_ClosePreviewButton()">

                <img ng-src="{{ imgIconDeleteWhite }}"
                     class="g-photo-preview-close-button-img"/>
            </div>

        </div>
    </div>
</div>