<!-- *** G-Photo-Preview *** -->
<div class="g-photo-preview-container"
     ng-class="{ 'g-photo-preview-visible': isVisible }"
     ng-click="onClick_PhotoPreviewDarkBackground()">

    <div class="g-photo-preview">

        <!-- Close Button -->
        <div class="g-photo-preview-close-button"
             ng-click="onClick_ClosePreviewButton()">

            <img ng-src="App/Assets/Images/Icons/Delete-icon-white.png"
                 class="g-photo-preview-close-button-img"/>
        </div>

        <img ng-src="{{ imgSrc }}"
             ng-click="onClick_PhotoPreview(); $event.stopPropagation();"
             class="g-photo-preview-img"/>

    </div>
</div>