<!-- *** G-DropDownList *** -->
<div class="g-drop-down-list-container">

    <div class="g-drop-down-list-text">
        {{ text }}
    </div>

    <div class="g-drop-down-list-item">

        <div class="g-drop-down-list">

            <!-- Visible Selected Item -->
            <div class="g-drop-down-list-selected-item"
                 ng-click="onClick_OpenDropDownListArrow()">

                <div class="g-drop-down-list-selected-item-text">
                    {{ selectedItem.text }}
                </div>

                <div class="g-drop-down-list-arrow">

                    <!-- Down Arrow (Open) -->
                    <img class="g-drop-down-list-arrow-img"
                         ng-src="{{ imgIconArrowDownWhite }}"
                         ng-hide="isOpen" />

                    <!-- Up Arrow (Close) -->
                    <img class="g-drop-down-list-arrow-img"
                         ng-src="{{ imgIconArrowUpWhite }}"
                         ng-show="isOpen" />
                </div>
            </div>

            <!-- Hidden List -->
            <div class="g-drop-down-list-list"
                 ng-class="{ 'g-drop-down-list-list-open': isOpen }">

                <div class="g-drop-down-list-list-item"
                     ng-repeat="item in items">

                    <div class="g-drop-down-list-list-item-text"
                         ng-click="onClick_DropDownListItem(item)"
                         ng-class="{ 'g-drop-down-list-list-item-text-press': item.isPressStyle }">
                         {{ item.text }}
                     </div>

                    <!-- Separation line -->
                    <div class="g-drop-down-list-list-item-line"
                        ng-if="($index != items.length - 1)">
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>