<!-- *** G-PopUp *** -->
<div ng-if="isVisible"
     class="g-popup-background">

    <div class="g-popup">

        <!-- Header -->
        <div class="g-popup-header">

            <div class="g-popup-header-text">
                {{ title }}
            </div>

            <div ng-click="onClick_ClosePopUp()"
                 ng-if="showCloseButton"
                 class="g-popup-close-icon">

                <img ng-src="App/Assets/Images/Icons/Delete-icon-white.png"
                     class="g-popup-close-icon-img">
            </div>
        </div>

        <!-- Body -->
        <div class="g-popup-body">
            {{ text }}
        </div>

        <!-- Buttons -->
        <div class="g-popup-buttons">

            <div ng-repeat="button in buttons"
                 class="g-popup-button">

                <g-button text="{{ button.text }}"
                          is-active-style="{{ button.isActiveStyle }}"
                          on-click="button.callback(); closePopUp();" >
                </g-button>
            </div>

        </div>
    </div>
</div>