<!-- *** Header ***-->
<div class="header-container">

    <!-- Open Menu Icon -->
    <div ng-click="headerCtrl.onClick_OpenMenu();"
         class="menu-icon menu-icon-open"
         ng-class="{ 'menu-icon-visible': (mainCtrl.AppData.isSideMenuOpen == false) }">

        <img ng-src="{{ mainCtrl.AppData.AppImages.imgIconMenuWhite }}"
             class="menu-icon-img" />
    </div>

    <!-- Header Title -->
    <div id="headerTitle"
         class="header-title">

            {{ mainCtrl.AppData.ApplicationHeader }}
    </div>

    <!-- Close Menu Icon -->
    <div ng-click="headerCtrl.onClick_CloseMenu();"
         class="menu-icon menu-icon-close"
         ng-class="{ 'menu-icon-visible': (mainCtrl.AppData.isSideMenuOpen == true) }">

        <img ng-src="{{ mainCtrl.AppData.AppImages.imgIconMenuHexBE1912 }}"
             class="menu-icon-img" />
    </div>
</div>